# #############################################################################
# # GIT IGNORE                                                                #                   #
# #############################################################################

node_modules/*
/yarn-error.log
/npm-debug.log
.env
ehthumbs.db
.history
.cache
.DS_Store
.idea
.project
.rvmrc
.settings
*.esproj
*.tmproj
*.tmproject
.vscode